<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi,api search</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="stylesheet" href="/static/css/normalize.min.css">
</head>
<body>
<div id="header">
    <div class="header-container">
        <div class="logo">
            <img src="/static/images/img1.png" alt="">
        </div>
        <ul class="nav">
            <li class="act"><a href="#">home</a></li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="slogan">热点新闻</div>
    <div class="search">
        <input type="text" name="keywords" value="" title="搜索关键词"/>
        <div class="btn">搜索</div>
    </div>
    <p class="sText">rpc client</p>
    <div class="wheel">
        <div class="slogan">实时动态</div>
        <div class="swiper-container lb">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="javascript:void(0)" style="background-image: url(/static/images/img2.png)"></a></div>
                <div class="swiper-slide"><a href="javascript:void(0)" style="background-image: url(/static/images/img2.png)"></a></div>
                <div class="swiper-slide"><a href="javascript:void(0)" style="background-image: url(/static/images/img2.png)"></a></div>
                <div class="swiper-slide"><a href="javascript:void(0)" style="background-image: url(/static/images/img2.png)"></a></div>
                <div class="swiper-slide"><a href="javascript:void(0)" style="background-image: url(/static/images/img2.png)"></a></div>
                <div class="swiper-slide"><a href="javascript:void(0)" style="background-image: url(/static/images/img2.png)"></a></div>
                <div class="swiper-slide"><a href="javascript:void(0)" style="background-image: url(/static/images/img2.png)"></a></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<script src="/static/js/swiper.min.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>