<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
</head>
<body>
<form action="{:url('oauth/oauth/authorize')}" method="post">
    <!--response_code为code时获取code，为token时(implicit模式用)access_token获取-->
    <input type="hidden" name="response_type" value="code"/>
    <input type="hidden" name="client_id" value="{$client_id}" title=""/>
    <input type="hidden" name="redirect_uri" value="{$redirect_uri}" title=""/>
    <input type="hidden" name="state" value="{$state}" title=""/>
    <input type="text" name="is_authorized" value="1" title=""/>
    <input type="text" name="user_id" value="1" title=""/>
    <input type="submit" value="授权"/>
</form>
</body>
</html>